.App {
	margin: auto;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: cadetblue;
}

.navBar {
	text-align: center;
	display: flex;
	flex-direction: row;
}

a {
	margin-right: 10px;
}

button {
	display: block;
	width: 200px;
	height: 30px;
	border-radius: 15px;
}
.kartice {
	display: flex;
	align-items: center;
	gap: 20px;
}
.cardBox {
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px #6a6a6a;
	height: 400px;
	width: 200px;
}

.img {
	height: 200px;
	width: 200px;
}
